/* olive  4e6659
pink   ff5e6f 
cream f7e4cb*/

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f7e4cb;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 { 
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif"; 
	font-size: 42px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 500; 
	line-height: 26.4px; 
	color: #ff5e6f;
}
	
.game {
  background-color: #0a121a;
  color: #f7e4cb;
	border-radius: 20px;
	padding: 15px 15px 30px 15px;
  text-align: center;
}

/* .mine-field {
  display: flex;
  flex-wrap: wrap;
}
/*

/*
.mine-field-cell {  
	text-align: center;
	width: 40px;
  height: 40px;
	color: #000000;
  background-color: #4e6659;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.highlight {
  background-color: #ff5e6f;
}

.mine-field-cell button {
  width: 95%;
  height: 95%;
  border: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
} */