/* @font-face {
	font-family: 'Dangrek';
	src: url('fonts/Dangrek-Regular.ttf') format('ttf');
	font-display: swap;
} */

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f7e4cb;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* .cell-number {
  font-size: 18pt;
  color: #000000;
  font-family: 'Dangrek';
} */

/* .svg-icon {
	width: 30px;
  height: 30px;
  display: inline-block;
  align-items: center;
  vertical-align: middle;
} */

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

